<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" (click)="clicked($event)" routerLink="/">Low cost flights <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clicked($event)" routerLink="/cheapest-date">Cheapest date search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clicked($event)" routerLink="/inspiration-search">Inspiration search</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <router-outlet></router-outlet>

</div>