<div *ngIf="loading" class="loading"><em>Loading data</em></div>

<div class="row">
  <div [ngClass]="{'col-sm-12 col-lg-9': flightsModel2 != undefined}" [ngClass]="{'col-sm-12 col-lg-12': flightsModel2 == undefined}">
    <div class="flights" *ngFor="let flight of flightsModel2">
      <div class="plane">
        <img src="../../assets/img/airplane-icon.png" alt="">
        <div class="flight-route">
          <span class="origin">{{ flight.PolazniAerodrom }}</span>
          <span>to</span>
          <span class="destination">{{ flight.OdredisniAerodrom }}</span>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-12 col-lg-9">
              <div class="flight-data">
                <div class="flight-data-no-return">
                  <div class="row">
                    <div class="col-sm-12 col-lg-5">
                      <div class="flight-time">
                        <span class="time">{{ flight.VrijemePolaska }}</span>
                        <br>
                        <span class="carrierName">{{ flight.NazivAvionaPolazak }}</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <div class="flight-way">
                          <span class="stops" *ngIf="flight.PresjedanjaOdlazak == 0">Direct</span>
                          <span class="stops" *ngIf="flight.PresjedanjaOdlazak == 1">{{ flight.PresjedanjaOdlazak }} stop</span>
                          <span class="stops" *ngIf="flight.PresjedanjaOdlazak > 1">{{ flight.PresjedanjaOdlazak }} stops</span>
                        <br>
                        <span class="stop-iataCode" *ngIf="flight.PresjedanjaOdlazak != 0">{{ flight.PresjedanjaOdlazakIataCodes }}</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="flight-duration">
                        <span class="duration">{{ flight.TrajanjeLeta }}</span>
                        <br>
                        <span class="iata-codes">{{ flight.PolazniAerodromIataCode }} - {{ flight.OdredisniAerodromIataCode }}</span>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="flight-data-return" *ngIf="flight.Return">
                  <div class="row" >
                    <div class="col-sm-12 col-lg-5">
                      <div class="flight-time">
                        <span class="time">{{ flight.VrijemePovratka }}</span>
                        <br>
                        <span class="carrierName">{{ flight.NazivAvionaPovratak }}</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <div class="flight-way">
                          <span class="stops" *ngIf="flight.PresjedanjaPovratak == 0">Direct</span>
                          <span class="stops" *ngIf="flight.PresjedanjaPovratak == 1">{{ flight.PresjedanjaPovratak }} stop</span>
                          <span class="stops" *ngIf="flight.PresjedanjaPovratak > 1">{{ flight.PresjedanjaPovratak }} stops</span>
                        <br>
                        <span class="stop-iataCode" *ngIf="flight.PresjedanjaOdlazak != 0">{{ flight.PresjedanjaPovratakIataCodes }}</span>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <div class="flight-duration">
                        <span class="duration">{{ flight.TrajanjeLeta }}</span>
                        <br>
                        <span class="iata-codes">{{ flight.OdredisniAerodromIataCode }} - {{ flight.PolazniAerodromIataCode }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="price-availability">
            <div class="inner">
                <div class="price">
                  <span>from <span class="currency">{{ flight.Cijena | currency: 'EUR' }}</span></span>
                </div>
                <div class="availability">
                  <span class="availability-text">Available seats: </span><span class="seats">{{ flight.SlobodnaMjesta }}</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="{'col-sm-12 col-lg-3': flightsModel2 != undefined, 'col-sm-12 col-lg-12': flightsModel2 == undefined}">
    <form class="form" (ngSubmit)="fetchData()">
      <div class="form-row">
        <div class="form-group">
          <label for="origin">Polazni aerodrom <span class="field-required">*</span></label>
          <input type="text" name="origin" [(ngModel)]="origin" placeholder="IATA šifra" class="form-control">
        </div>
  
        <div class="form-group">
          <label for="destination">Odredišni aerodrom <span class="field-required">*</span></label>
          <input type="text" name="destination" [(ngModel)]="destination" placeholder="IATA šifra" class="form-control">
        </div>

        <div class="form-group">
          <label for="departureDate">Datum polaska <span class="field-required">*</span></label>
          <ng-datepicker name="departureDate" [options]="options" [(ngModel)]="departureDate" [ngModelOptions]="{standalone: true}"></ng-datepicker>
        </div>
  
        <div class="form-group">
          <label for="returnDate">Datum povratka</label>
          <ng-datepicker name="returnDate" [options]="opts" [(ngModel)]="returnDate" [ngModelOptions]="{standalone: true}"></ng-datepicker>
        </div>
        <div class="form-group">
          <label for="passengers">Broj putnika</label>
          <select name="passengers" [(ngModel)]="selectedPassengers" (change)="selectPassengers($event.target.value)" class="form-control">
            <option *ngFor="let pass of passengers" value="{{pass}}">{{pass}}</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="valuta">Valuta</label>
          <select name="valuta" [(ngModel)]="selectedCurrency" (change)="selectCurrency($event.target.value)" class="form-control">
            <option *ngFor="let curr of currency" value="{{curr}}">{{curr}}</option>
          </select>
        </div>   
        <div class="form-group">
          <label for="zaPrikaz">Broj zapisa za prikaz</label>
          <select name="zaPrikaz" [(ngModel)]="zaPrikazSelected" (change)="selectZaPrikaz($event.target.value)" class="form-control">
            <option *ngFor="let pr of zaPrikaz" value="{{pr}}">{{pr}}</option>
          </select>
        </div>
  
        <input type="submit" value="Submit" class="btn btn-primary" />   
      </div>  
    </form>
  </div>
</div>